.header{
    height: 180px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: auto;
}

#logo{
    width: 290px;
    height: 73px;
    margin-top: 110px;
}

h1{
    margin-bottom: 0px;
}

h4, h3{
    display: inline-block;
    margin: auto;
    color: #808080;
}

#booleaner{
    color: #20A9E5;
}

#data{
    color: #808080;
}

ul{
    padding: 10px;
}

th{
    background-color: #20A9E5;
    width: 300px;
    text-align: left;
    color: white;
}

.table-row{
    background-color: #B1E5F2;
}

.articolo{
    width: 300px;
    height: 230px;
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}

#articolo-2{
    background-image: url(../img/graph.jpg);
}
#titolo-articolo{
    color: white;
}

table{
    border-collapse: collapse;
}